header {
    background-color: indigo;
}

#Contacto {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.row {
    padding: 15px;
}

#SeccionAcercaDe {
    background-color: darkslateblue;
    text-align: center;
    color: whitesmoke;
}

#Img-perfil {
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 1px 1px 1px darkslateblue;
    left: 9%;
    top: 540px;
}

#Nombre {
    font-weight: bold;
    margin-top: 10%;
}

#AcercaDe {
    text-align: left;
}

#SeccionExperiencia {
    background-color: rgb(152, 146, 201);
}