header {
    background-color: darkslateblue;
}

#Contacto {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.row {
    padding: 15px;
}

#AcercaDe {
    background-color: rgb(152, 146, 201);
    text-align: left;
}

#Img-perfil {
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-sizing: 1px 1px 1px darkslateblue;
    top: 600px;
}

#Nombre {
    font-weight: bold;
    margin-top: 10%;
}

